<!DOCTYPE html>
<html lang="en">
  <head>

    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caos News</title>
    <!-- <link rel="stylesheet" href="{% static 'core/css/style.css' %}" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
        <!--BOOTSTRAP-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!--FONT AWESOME-->
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous"
  />

  


  </head>


    <html>
      



      <body>
       
        
        <header>
          

          
          <div class="website-header">
            <!-- Brand -->
            <h1 class="brand" href="index.html">Caos News</h1>
            <div></div>
            <div class="social-icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-google-plus-g"></i>
              <i class="fab fa-instagram"></i>
              <i class="fas fa-rss"></i>
            </div>
          </div>
          <nav class="navbar navbar-expand-md">
            <!-- Toggler/collapsibe Button -->
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#collapsibleNavbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="noticiasEspaciales.html">Noticias Espaciales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Internacional</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tecnologia</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Deportes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="periodistas.html">Periodistas</a>
                </li>
                
                <div class="input-group rounded">
                  <input type="search" class="form-control" placeholder="Busqueda" aria-label="Search"
                    aria-describedby="search-addon" />
                  <span class="input-group-text border-0" id="search-addon">
                    <a href="#">
                    <i class="fas fa-search"></i>
                  </span>
                </a>
                </div>
          
                <li>
                  <a href="login.html">
                    <i class="far fa-user-circle fa-2x"></i>
                </a>
              </li>

             

              </ul>
            </div>
          </nav>

          

          <div class="breaking-news-section">
            <span id="btext">Ultima hora</span>
            <marquee
              direction="left"
              onmouseover="this.stop()"
              onmouseout="this.start()"
            >
              <a href="#" class="breaking-news"
                ><p class="bntime">23 Abril, 2052</p>Blackboard de Duoc es
                elegida la mejor plataforma</a
              >
              <a href="#" class="breaking-news">
                <p class="bntime">23 Abril, 2021</p>
                Confirman acusacion constitucional contra Piñera</a
              >
              <a href="#" class="breaking-news">
                <p class="bntime">23 Abril, 2021</p>
                La vacuna de Oxford: solo sera administrada a hombres</a
              >
            </marquee>
          </div>
        </header>

        <br>
        <br>

        <div id="fh">
          <div class="row ">
            <form action="method " action ="" id="Formulario "></form>
          </div>
            <div class="form-group">
              {{form.as_table}}
            </div>
          </div>  

          <div class="container">

            <table>

              <tr>

                <td> <div id="idN">  </div> </td>

              </tr>

              <tr>

                <td> <div id="idI">  </div> </td>

              </tr>


              <tr>

                <td> <div id="idD">  </div> </td>

              </tr>
              
              <tr>

              <td><br><br><br><a class="btn btn-primary" href="{% url 'index'  %}">Volver</a></td>

              <tr>
            </table>
            
          </div>
    
     </body>

     <script>
     
       $( document ).ready(function() {
        $("#fh").hide();
       });

        var idn1 = $("#id_nombreNoticia").val();
        var idd1 = $("#id_descripcionNoticia").val();
        var idi1 = $("#id_imagenNoticia").val();
        
        $("#idN").append("<p><h1>"+idn1+"</h1></p>");
        $("#idD").append("<p>"+idd1+"</p>");
      
        $("#idI").append("<img width='700px' src='/static/"+idi1+"'%}>");
        
     
     </script>


</html>


